<!DOCTYPE html>
<html>
  <head>
    <title>WriteImprov Grammar Correction</title>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/navbar-css.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/gec-css.css')}}"
    />

    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body>
    <nav class="nav">
      <div class="left">
        <a href="/"><h1>WriteImprov</h1></a>
      </div>
      <div class="right">
        <a href="/dictionary">Dictionary</a>
        <a href="/grammar-correction">Grammar Check</a>
        <a href="/text-summarization">Summarizer</a>
      </div>
    </nav>
    <div class="template">
      <div class="ioTemplate">
        <header>Grammar Correction</header>
        <div class="ioTemplateRadio">
          <input type="radio" id="grammarRadio" name="correctionType" checked />
          <label for="grammarRadio">Using T5 model</label>

          <input type="radio" id="replaceRadio" name="correctionType" />
          <label for="replaceRadio">Using Grammarly</label>
        </div>

        <form id="grammarForm" action="/grammar-correction" method="POST">
          <textarea
            name="input_text"
            id="inputText"
            rows="12"
            cols="66"
          ></textarea
          ><br />
          <input type="submit" id="checkGrammarBtn" value="Check Grammar" />
        </form>
        <span id="error_message" style="color: red"></span>

        <div id="replaceForm" style="display: none">
          <grammarly-editor-plugin>
            <textarea
              name="replace_text"
              id="replaceText"
              rows="12"
              cols="66"
            ></textarea>
          </grammarly-editor-plugin>
        </div>
        <div class="ioTemplateOutput">
          <header id="correctedTextTitle" style="display: none">
            Corrected Text
          </header>
          <textarea
            id="output_text"
            rows="12"
            cols="66"
            readonly
            style="display: none"
          ></textarea>
        </div>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/@grammarly/editor-sdk?clientId=YOUR_CLIENT_ID"></script>
    <script src="{{ url_for('static', filename='js/gec-script.js') }}"></script>
  </body>
</html>
