<!DOCTYPE html>
<html>
  <head>
    <title>Write Improv Text Summarization</title>
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/navbar-css.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/ts-css.css') }}"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body>
    <nav class="nav">
      <div class="left">
        <a href="/"><h1>WriteImprov</h1></a>
      </div>
      <div class="right">
        <a href="/dictionary">Dictionary</a>
        <a href="/grammar-correction">Grammar Check</a>
        <a href="/text-summarization">Summarizer</a>
      </div>
    </nav>
    <div class="template">
      <div class="ioTemplate">
        <header>Text Summarization</header>
        <div class="ioTemplateInput">
          <form action="/text-summarization" method="POST">
            <input
              type="radio"
              id="input_type_url"
              name="input_type"
              value="url"
              checked
            />
            <label for="input_type_url">URL</label><br />
            <input
              type="radio"
              id="input_type_text"
              name="input_type"
              value="text"
            />
            <label for="input_type_text">Text/Paragraph</label><br />
            <textarea
              name="input_text"
              rows="12"
              cols="66"
              placeholder="Enter a valid URL of an article."
            ></textarea
            ><br />
            <p class="error" style="display: none"></p>
            <!-- Error message placeholder -->
            <input type="submit" value="Summarize" />
          </form>
        </div>
        <div class="ioTemplateOutput">
          <header>Summary</header>
          <p class="loading-message" style="display: none">
            Please wait! Summary is being generated.
          </p>
          <!-- Loading message placeholder -->
          <textarea
            id="output_summary"
            rows="12"
            cols="66"
            readonly
            style="display: none"
          ></textarea>
        </div>
      </div>
    </div>
    <script src="{{ url_for('static', filename='js/ts-script.js') }}"></script>
  </body>
</html>
